﻿<style>
div.cpw-form-vkn-consumed
{
	width: 1010px;
	margin: 0 auto;
}
div.cpw-form-vkn-consumed > div.title
{
	font-size: large;
	font-weight: bold;
}
div.cpw-form-vkn-consumed > div.row
{
	display: inline-block;
	width: 99%;
	margin-bottom: 3px;
}
div.cpw-form-vkn-consumed > div.row div.title
{
	margin-left: 10px;
	display: inline-block;
	width: 250px;
}
div.cpw-form-vkn-consumed > div.row > input[model_field_name="Контактное_лицо"]
{
	width: 725px;
}
div.cpw-form-vkn-consumed input[model_field_name="Контактный_телефон"],
div.cpw-form-vkn-consumed input[model_field_name="Дата_снятия_показаний"],
div.cpw-form-vkn-consumed input[model_field_name="Абонент.Договор"],
div.cpw-form-vkn-consumed input[model_field_name="Абонент.ДатаДоговора"]
{
	width: 180px;
}
div.cpw-form-vkn-consumed > div.objects
{
	margin-top: 5px;
}
div.cpw-form-vkn-consumed input
{
	border: 0;
	border-bottom: 1px solid #f0f0f0;
	background-color: #fcfcfc;
}
div.cpw-form-vkn-consumed input:hover
{
	background-color: #f0f0f0;
}
div.cpw-form-vkn-consumed div.field
{
	display: inline-block;
	padding: 2px;
}
div.cpw-form-vkn-consumed div.field.invalid.had_focus { background-color: #ffd6d6; }
div.cpw-form-vkn-consumed div.field.recommended.had_focus { background-color: #fcfeb4; }
</style>
<div class="cpw-form-vkn-consumed">
	<div class="title">Сведения о количестве потребленной воды и объемах отведенных сточных вод</div>

	<div class="row">
		<div class="title">Приложение к договору №:</div>
		<div class="field">
			<label style="display:none">Номер договора</label>
			<input type="text" value="<%= obj.txt('Абонент.Договор') %>" /> 
		</div> 
		от 
		<div class="field">
			<label style="display:none">Дата договора</label>
			<input type="text" value="<%= obj.txt('Абонент.ДатаДоговора') %>" <%= obj.date_attrs() %> />
		</div>
	</div>

	<div class="row field">
		<div class="title">Дата снятия показаний:</div>
		<input type="text" value="<%= obj.txt('Дата_снятия_показаний') %>" <%= obj.date_attrs() %> />
	</div>

	<div class="row field">
		<div class="title">Контактное лицо:</div>
		<input type="text" value="<%= obj.txt('Контактное_лицо') %>" />
	</div>

	<div class="row field">
		<div class="title">Номер контактного телефона:</div>
		<input type="text" value="<%= obj.txt('Контактный_телефон') %>" maxlength="16" /> 
		<label style="display:none">Номер контактного телефона</label>
		<!-- Не забудьте указать код города! -->
	</div>

	<div class="objects">
		<%= obj.control('Показания_по_объектам') %>
	</div>
</div>