﻿<style>
div.cpw-form-vkn-consumed-profiled
{
	width:900px;
	margin:0 auto;
}
div.cpw-form-vkn-consumed-profiled div
{
	display: inline-block;
}
div.cpw-form-vkn-consumed-profiled div.row
{
	width: 100%;
}
div.cpw-form-vkn-consumed-profiled div.row.v1 div.header
{
	width: 100%;
}
div.cpw-form-vkn-consumed-profiled div.row.v2 div.header
{
	width: 160px;
}
div.cpw-form-vkn-consumed-profiled div.row.v3 div.header
{
	width: 120px;
}
div.cpw-form-vkn-consumed-profiled div.row.v2 div.header2
{
	margin-left: 10px;
	margin-right: 10px;
}
div.cpw-form-vkn-consumed-profiled div.row div.data
{
	font-weight: bold;
}
div.cpw-form-vkn-consumed-profiled div.row.v1 div.data
{
	margin-left: 20px;
}
</style>
<div class="cpw-form-vkn-consumed-profiled">
	<div class="row v1">
		<div class="header">Полное наименование отправителя отчёта (в т.ч. организационно-правовая форма):</div>
		<div class="data">
			"<%= (!obj || !obj.form || !obj.form.Абонент || !obj.form.Абонент.НаименованиеАбонента) ? '' : obj.form.Абонент.НаименованиеАбонента %><%if (0) { %>Роги и ноги<% } %>"
		</div>
	</div>
	<div class="row v2">
		<div class="header">Юридический адрес:</div>
		<div class="data">
			"<%= (!obj || !obj.form || !obj.form.Абонент || !obj.form.Абонент.ЮрАдрес) ? '' : obj.form.Абонент.ЮрАдрес %><%if (0) { %>Роги и ноги<% } %>"
		</div>
	</div>
	<div class="row v3">
		<div class="header">Вид документа:</div>
		<div class="data">
			<% if (obj && obj.form && obj.form.Отчёт && obj.form.Отчёт.ВидДокумента)  { %>
			<%= (!obj || !obj.form || !obj.form.Отчёт || !obj.form.Отчёт.ВидДокумента) ? '' : obj.form.Отчёт.ВидДокумента %><%if (0) { %>1<% } %> 
			(<%= ("1"==obj.form.Отчёт.ВидДокумента) ? 'первичный' : 'корректирующий' %><%if (0) { %>первичный<% } %>)
			<% } %>
		</div> 
	<% if (obj && obj.form && obj.form.Отчёт && obj.form.Отчёт.НомерКорректировки && ''!=obj.form.Отчёт.НомерКорректировки && null!=obj.form.Отчёт.НомерКорректировки)  { %>
		<div class="header2"> номер корректировки:</div> 
		<div class="data">
			<%= obj.form.Отчёт.НомерКорректировки %><%if (0) { %>2<% } %>
		</div>
	</div>
	<% } %>
	<div class="row v3">
		<div class="header">Период отчёта:</div>
		<div class="data">
			<% if (obj.form && obj.form.Отчёт) { %> 
				<%= obj.form.Отчёт.НомерДекады %><%if (0) { %>3<% } %> 
				<%= '1'==obj.form.Отчёт.ПериодОтчета ? 'месяц' : '2'==obj.form.Отчёт.ПериодОтчета ? 'декада' : '' %><%if (0) { %>декада<% } %> 
				<%= obj.month_name_by_num(obj.form.Отчёт.МесяцОтчета) %><%if (0) { %>март<% } %> 
				<%= obj.form.Отчёт.ГодОтчета %><%if (0) { %>2003<% } %> 
			<% } %> 
		</div>
	</div>
</div>