﻿<style>
div.cpw-form-vkn-objects
{
	width: 1000px;
	margin: 0 auto;
}
div.cpw-form-vkn-objects table
{
	border-collapse:collapse;
	margin: 0;
}
div.cpw-form-vkn-objects table td
{
	padding-left: 5px;
	padding-right: 5px;
	text-align: center;
}
div.cpw-form-vkn-objects table td.indications
{
	width: 90px;
}
div.cpw-form-vkn-objects table tr.header td.indications
{
	font-size:small;
}
div.cpw-form-vkn-objects table tbody.collection-item:hover
{
	background-color: #f0f0f0;
	cursor:pointer;
}
div.cpw-form-vkn-objects table tbody.collection-item
{
	border-bottom: 1px solid #f9f9f9;
}
div.cpw-form-vkn-objects table tbody.collection-item td.indications,
div.cpw-form-vkn-objects table tbody.collection-item td.point,
div.cpw-form-vkn-objects table tr.header td
{
	border: 1px solid silver;
}
div.cpw-form-vkn-objects table tr td.noborder
{
	border: 0;
}
div.cpw-form-vkn-objects table tbody.collection-item td.indications
{
	text-align: right;
}
div.cpw-form-vkn-objects table td.title
{
	width: 210px;
}
div.cpw-form-vkn-objects table tr.header td.title
{
	vertical-align: top;
}
div.cpw-form-vkn-objects table td.title
{
	text-align: left;
}
div.cpw-form-vkn-objects table tbody.collection-item td.delete
{
	padding: 0;
	padding-left: 3px;
	vertical-align: middle;
}
div.cpw-form-vkn-objects table tbody.collection-item td.address
{
	font-size: small;
	color: silver;
	text-align: right;
	vertical-align:top;
}
div.cpw-form-vkn-objects table tbody.collection-item td.period
{
	font-size: small;
	color: silver;
	text-align: center;
	vertical-align:bottom;
	font-size: small;
	padding: 0;
}
div.cpw-form-vkn-objects tbody.no-value1 span.value1 { display: none; }
div.cpw-form-vkn-objects tbody.no-value2 span.value2 { display: none; }
div.cpw-form-vkn-objects tbody.no-value3 span.value3 { display: none; }
div.cpw-form-vkn-objects tbody.no-value4 span.value4 { display: none; }
div.cpw-form-vkn-objects table tbody.collection-item td.comments
{
	font-size: small;
	color: silver;
	text-align: left;
	vertical-align:top;
}
div.cpw-form-vkn-objects table tbody.collection-item.no-comments td.comments span
{
	display: none;
}
div.cpw-form-vkn-objects div.empty-list div.title
{
	display: inline-block;
	margin-left: 5px;
	margin-right: 85px;
}
</style>
<div class="cpw-form-vkn-objects">

	<div class="empty-list" <%= obj.empty_attrs() %> >
		<div class="title">Показания по объектам: </div>
		Список объектов пуст!
	</div>

	<table class="not-empty-list" <%= obj.not_empty_attrs() %> >
		<tr class="header">
			<td rowspan="2" class="title noborder">Показания по объектам:</td>
			<td rowspan="2"><small>Код точки учёта</small></td>
			<td colspan="2">Показания ПУ, куб.м</td>
			<td colspan="4">Стоки от горячего водоснабжения (ГВС), куб.м</td>
			<td rowspan="2" class="noborder">&nbsp;</td>
		</tr>
		<tr class="header">
			<td class="indications">прошлые</td>
			<td class="indications">текущие</td>
			<td class="indications">за период I</td>
			<td class="indications">за период II</td>
			<td class="indications">за период III</td>
			<td class="indications">за период IV</td>
		</tr>
		<% while (obj.iterate()) { %>
		<tbody <%= obj.item_attrs() %> >
			<tr>
				<td class="title" colspan="4">
					<%= obj.text_field('Объект.Наименование') %>
						<% if (obj.is_seed()) { %>
							Прачечная
						<% } %>
					<%= obj.text_field_end() %> 
				</td>
				<td class="period">
					<span class="value1">
						<%= obj.text_field('СтокиГВС.I.Месяц') %>
							<% if (obj.is_seed()) { %>
								март
							<% } %>
						<%= obj.text_field_end() %> 
						<%= obj.text_field('СтокиГВС.I.Год') %>
							<% if (obj.is_seed()) { %>
								2017
							<% } %>
						<%= obj.text_field_end() %>:
					</span>
				</td>
				<td class="period">
					<span class="value2">
						<%= obj.text_field('СтокиГВС.II.Месяц') %>
							<% if (obj.is_seed()) { %>
								март
							<% } %>
						<%= obj.text_field_end() %> 
						<%= obj.text_field('СтокиГВС.II.Год') %>
							<% if (obj.is_seed()) { %>
								2017
							<% } %>
						<%= obj.text_field_end() %>:
					</span>
				</td>
				<td class="period">
					<span class="value3">
						<%= obj.text_field('СтокиГВС.III.Месяц') %>
							<% if (obj.is_seed()) { %>
								март
							<% } %>
						<%= obj.text_field_end() %> 
						<%= obj.text_field('СтокиГВС.III.Год') %>
							<% if (obj.is_seed()) { %>
								2017
							<% } %>
						<%= obj.text_field_end() %>:
					</span>
				</td>
				<td class="period">
					<span class="value4">
						<%= obj.text_field('СтокиГВС.IV.Месяц') %>
							<% if (obj.is_seed()) { %>
								март
							<% } %>
						<%= obj.text_field_end() %> 
						<%= obj.text_field('СтокиГВС.IV.Год') %>
							<% if (obj.is_seed()) { %>
								2017
							<% } %>
						<%= obj.text_field_end() %>:
					</span>
				</td>
				<td class="delete" rowspan="3">
					<button class="delete">удалить</button>
				</td>
			</tr>
			<tr>
				<td rowspan="2" class="address">
					<%= obj.text_field('Объект.Адрес') %>
						<% if (obj.is_seed()) { %>
							Ленина, 4
						<% } %>
					<%= obj.text_field_end() %>
				</td>
				<td class="point">&nbsp;
					<%= obj.text_field('Объект.Код_точки_учёта') %>
						<% if (obj.is_seed()) { %>
							0123456789
						<% } %>
					<%= obj.text_field_end() %>
				</td>
				<td class="indications">
					<%= obj.text_field('Показания_ПУ.по_состоянию_на_предыдущий_период') %>
						<% if (obj.is_seed()) { %>
							60 000 000
						<% } %>
					<%= obj.text_field_end() %>
				</td>
				<td class="indications">
					<%= obj.text_field('Показания_ПУ.за_текщий_период') %>
						<% if (obj.is_seed()) { %>
							60 000 000
						<% } %>
					<%= obj.text_field_end() %>
				</td>
				<td class="indications">
					<%= obj.text_field('СтокиГВС.I.значение') %>
						<% if (obj.is_seed()) { %>
							60 000 000
						<% } %>
					<%= obj.text_field_end() %>
				</td>
				<td class="indications">
					<%= obj.text_field('СтокиГВС.II.значение') %>
						<% if (obj.is_seed()) { %>
							60 000 000
						<% } %>
					<%= obj.text_field_end() %>
				</td>
				<td class="indications">
					<%= obj.text_field('СтокиГВС.III.значение') %>
						<% if (obj.is_seed()) { %>
							60 000 000
						<% } %>
					<%= obj.text_field_end() %>
				</td>
				<td class="indications">
					<%= obj.text_field('СтокиГВС.IV.значение') %>
						<% if (obj.is_seed()) { %>
							60 000 000
						<% } %>
					<%= obj.text_field_end() %>
				</td>
			</tr>
		
			<tr>
				<td colspan="7" class="comments">
					<span>
					(<%= obj.text_field('Примечания') %>
						<% if (obj.is_seed()) { %>
							всё путём!
						<% } %>
					<%= obj.text_field_end() %>)
					</span>
				</td>
			</tr>
		</tbody>
		<% } %>
	</table>
	<div class="footer">
		<button class="add"><span>Добавить показания по объекту</span></button>
	</div>
	<%
var on_delete= function(e)
{
	e.preventDefault();
	var bitem= obj.find_binding_for_item($(this));
	var model_item= obj.model[bitem.i_item];
	var bname_Ok = 'Да';
	obj.options.h_msgbox.ShowModal({
		html: 'Вы действительно хотите удалить данные об объекте "' + model_item.Объект.Наименование + '" ?'
		, width: 400
		, height: 200
		, title: 'Подтверждение удаления'
		, buttons: [bname_Ok, 'Нет']
		, onclose: function (bname)
		{
			if (bname_Ok == bname)
			{
				obj.model.splice(bitem.i_item,1);
				obj.update_dom();
			}
		}
	});
};
var on_edit= function(e)
{
	e.preventDefault();
	if (!$(e.target).hasClass('delete'))
	{
		var bitem= obj.find_binding_for_item($(this));
		var model_item= obj.model[bitem.i_item];
		var title=
			"Редактирование показаний по объекту " + model_item.Объект.Наименование + ' (' + (parseInt(bitem.i_item)+1) + '-й элемент)';

		obj.options.item_modal_controller
		(
			model_item,
			title,
			function(model_item)
			{
				obj.model[bitem.i_item]= model_item;
				obj.update_dom()
			}
		)
		.ShowModal(e);
	}
};
var on_add= function(e)
{
	e.preventDefault();
	var model_item= {};
	var title= "Добавление показаний по объекту";

	obj.options.item_modal_controller
	(
		model_item,
		title,
		function(model_item)
		{
			if (!obj.model)
				obj.model= [];
			obj.model.push(model_item);
			obj.update_dom();
			obj.on_after_render();
		}
	)
	.ShowModal(e);
};
obj.on_after_render= (function(on_add,on_edit,on_delete)
{
	return function()
	{
		var on_delete_handler= {click:on_delete};
		$(obj.form_div_selector + ' button.delete').off(on_delete_handler).on(on_delete_handler);

		var on_edit_handler= {click:on_edit};
		$(obj.form_div_selector + ' .collection-item').off(on_edit_handler).on(on_edit_handler);

		var on_add_handler= {click:on_add};
		$(obj.form_div_selector + ' button.add').off(on_add_handler).on(on_add_handler);
	}
})
(on_add,on_edit,on_delete);
%>
</div>