﻿<style>
div.cpw-form-vkn-bindications
{
	width: 600px;
	margin: 0 auto;
	text-align: left;
}
div.cpw-form-vkn-bindications label
{
	display: inline-block;
	width: auto;
	margin:0;
}
div.cpw-form-vkn-bindications div.section
{
	margin:0;
	margin-top: 10px;
	text-align: left;
}
div.cpw-form-vkn-bindications div.row { margin-top: 3px; }
div.cpw-form-vkn-bindications div.row div.title
{
	display: inline-block;
	text-align: left;
}
div.cpw-form-vkn-bindications div.row div.title        { margin-left: 15px; }
div.cpw-form-vkn-bindications div.row.r1 div.title          { width: 180px; }
div.cpw-form-vkn-bindications div.row.r1 input[type="text"] { width: 350px; }

div.cpw-form-vkn-bindications div.row.r2 div.title          { width: 375px; }
div.cpw-form-vkn-bindications div.row.r2 input[type="text"] { width: 155px; }

div.cpw-form-vkn-bindications div.row.r3 div.title
{
	text-align: right;
	padding-right: 5px;
	width: 375px;
}

div.cpw-form-vkn-bindications div.row.period div.title
{
	width: 187px;
	text-align:right;
	padding-right: 5px;
}
div.cpw-form-vkn-bindications div.section > div.title
{
	font-weight:bold;
}
div.cpw-form-vkn-bindications input.indication
{
	margin-right: 4px;
	width: 100px;
	text-align: right;
}
div.cpw-form-vkn-bindications select
{
	margin-right: 3px;
}
div.cpw-form-vkn-bindications textarea
{
	margin-left: 15px;
	width: 528px;
}
div.cpw-form-vkn-bindications input,
div.cpw-form-vkn-bindications textarea,
div.cpw-form-vkn-bindications select
{
	border: 1px solid #e0e0e0;
	background-color: #f0f0f0;
}
div.cpw-form-vkn-bindications div.field.invalid.had_focus { background-color: #ffd6d6; }
div.cpw-form-vkn-bindications div.field.recommended.had_focus { background-color: #fcfeb4; }
</style>
<div class="cpw-form-vkn-bindications">

	<div class="section">
		<div class="title">Объект:</div>
		<div class="row r1 field">
			<div class="title"><label>Наименование</label>:</div>
			<input type="text" value="<%= obj.txt('Объект.Наименование') %>" />
		</div>
		<div class="row r1">
			<div class="title">Адрес расположения:</div>
			<input type="text" value="<%= obj.txt('Объект.Адрес') %>" />
		</div>
		<div class="row r2 field">
			<div class="title"><label>Код точки учета по базе МУП "Ижводоканал"</label>:</div>
			<input type="text" value="<%= obj.txt('Объект.Код_точки_учёта') %>" />
		</div>
	</div>

	<div class="section">
		<div class="title">Показания прибора учёта:</div>
		<div class="row r3 field">
			<div class="title"><label style="display:none;">Показания прибора учёта за текущий период отчётности</label>За текущий период отчётности:</div>
			<input type="text" class="indication" value="<%= obj.txt('Показания_ПУ.за_текщий_период') %>" />
			куб.м
		</div>
		<div class="row r3">
			<div class="title">По состоянию на предыдущий период отчётности:</div>
			<input type="text" class="indication" value="<%= obj.txt('Показания_ПУ.по_состоянию_на_предыдущий_период') %>" />
			куб.м
		</div>
	</div>

	<div class="section">
		<div class="title">Стоки горячего водоснабжения (ГВС):</div>

		<%
		var periods= ['I','II','III','IV'];
		%>

		<%	for (var i= 0; i < periods.length; i++)
			{
				var period= periods[i];
				var field_prefix= 'СтокиГВС.' + period;
		%>
		<div class="row period p<%= i %>">
			<div class="title"><%= period %><% if (0) { %>I<% } %> за период </div>
			<select <%= obj.select_attrs(field_prefix + '.Месяц') %> >
				<option <%= obj.option_attrs('') %> >месяц..</option>
				<option <%= obj.option_attrs('январь')   %> >январь</option>
				<option <%= obj.option_attrs('февраль')  %> >февраль</option>
				<option <%= obj.option_attrs('март')     %> >март</option>
				<option <%= obj.option_attrs('апрель')   %> >апрель</option>
				<option <%= obj.option_attrs('май')      %> >май</option>
				<option <%= obj.option_attrs('июнь')     %> >июнь</option>
				<option <%= obj.option_attrs('июль')     %> >июль</option>
				<option <%= obj.option_attrs('август')   %> >август</option>
				<option <%= obj.option_attrs('сентябрь') %> >сентябрь</option>
				<option <%= obj.option_attrs('октябрь')  %> >октябрь</option>
				<option <%= obj.option_attrs('ноябрь')   %> >ноябрь</option>
				<option <%= obj.option_attrs('декабрь')  %> >декабрь</option>
			</select>
			<select <%= obj.select_attrs(field_prefix + '.Год') %> >
				<option <%= obj.option_attrs('') %> >год..</option>
				<% for (var year= 2010; year<=2025; year++) { %>
				<option <%= obj.option_attrs(year+'')  %> ><%= year %><% if (0) { %>2017<% } %></option>
				<% } %>
			</select> : 
			<input type="text" class="indication"  value="<%= obj.txt(field_prefix + '.значение') %>" />
			куб.м.
		</div>
		<%	} %>

	<div class="section">
		<div class="title">Примечания по объекту:</div>
		<textarea <%= obj.textarea_attrs('Примечания') %> ><%= !obj.model ? '' : obj.model.Примечания %></textarea>
	</div>
</div>